<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
    <h1>Search Results from Drake</h1>
    <p>
        <p>Query: {{query}}</p>
        <h3>Search Time: {{stime}}ms</h3>
        <ul>
            {% for result in data %}
                <li><a href="{{result}}">{{result}}</a></li>
            {% endfor %}
        </ul>
</body>
</html>